.photoPost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.photoPost :global(#img) {
  margin-bottom: 1rem;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}

@media (max-width: 680px) {
  .photoPost {
    grid-template-columns: 1fr;
  }

  .photoPost :global(#img) {
    font-size: 0.75rem;
  }
}
